/*-----------Footter-------------*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.footer {
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 50px 0;
    background-color: rgb(235, 139, 155);
    box-sizing: border-box;
}

.mini_footer {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 85%  ;
}

.mini_footer .logo {
    float: left;
    display: block;
    width: 15%;
    height: auto;
}

.mini_footer .logo h1 {
    font-size: 15px;
    margin-left: 3px;
    color: white
}

.mini_footer .logo img{
    width: 100px;
    height: auto;
}

.mini_footer .third_footer {
    width: 20%;
    margin-left: 10px;
    float: right;
    height: 100%;
    font-size: 15px;
    font-weight: 200;
    color: white;
}

.mini_footer .third_footer h1 {
    font-size: 20px;
    display: block;
    width: 100%;
    color: white;
    margin-bottom: 15px;
}

.mini_footer .third_footer a {
    font-size: 15px;
    font-weight: 200;
    display: block;
    width: 100%;
    color: white;
    margin-bottom: 15px;
    height: 10px;
    padding-bottom: 5px;
}
.mini_footer .third_footer .li {
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;   
}

.mini_footer .third_footer span {
    color: white;
    font-size: 15px;
    font-weight: 200;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    height: 10px;
    padding-bottom: 5px;
}

.mini_footer .third_footer li {
    font-size: 15px;
}

@media(max-width: 900px) {
    .footer .mini_footer {
        width: 90%;
    }
    .mini_footer .logo, 
    .mini_footer .third_footer {
        width: 100%;
        margin-bottom: 30px; 
    }
}
