html, body { 
    font-size: 18px;
    color: #222;
}

.navbar-header {
    background-color: rgb(255, 105, 105) !important;
    margin-top: 2%;
    padding-left: 5%;
}

.navbar li a:hover{
    color:white !important;
}



.header1{
    margin-top: 5%;
    margin-left: 76px;
}


.header2 ul li{
   color: white !important;
}

.carousel-inner img{
    width: 100%;
}

.carousel-banner {
display: inline-block;
 color: white;
 padding: 1px 2px;
}

.navbar-light .navbar-brand {
    color: #e3007b;
}

.navbar {
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 0.2rem solid #e3007b;
    margin-bottom: 20px;
}

.navbar-brand.navbar-homepage {
    color: black;
    font-size: 18px;
}

.headM {
    margin-right: 25px;
    font-size: 12pt;
}

.nav-item {
    display: block;
    padding-right: 10px;
}

.btn-cart {
    margin-left: auto;
    margin-right: auto;
}
.col-sm-6, .col-lg-3 {
    padding-bottom: 20px;
}
@media (max-width: 990px) { 
    .navbar {
        font-size: 1.5rem;
        border-bottom: 0.3rem solid #e3007b;
        margin-bottom: 2%;
    }
    .navbar-brand {
        font-size: 1.5rem;
    }
    .card {
       font-size: 1.5rem;
    }
    .card h5 {
        font-size: 1.5rem;
    }
 }

 #nqv{
    background-color:white;
    
    }
#row-3{
        background-color: white;
    }
#okamoto{
    margin-left: 1,5%;
    width:100%;
    height: auto;
    padding-top: 25%;
}
 #img-nqv{
        margin-left: 1,5%;
        width:100%;
        height: auto;
        
    }
#gex{
    margin-left: 1,5%;
    width:100%;
    height: auto;
    padding-top: 33%;
}

#row-3 a:hover{
    opacity: 0.2;
    filter: alpha(opacity=50);
}
#beheo{
        background-color: #f1617e;
        padding-top: 3%;
        padding-bottom: 3%;
        margin-bottom: 2%;
    }
    
#icon-nqv{
        
        font-size: 50px;
        color: aliceblue;
        padding-top: 5%;
        
    }
#font-nqv{
      
        color: aliceblue;
        font-size: 30px;       
        padding-bottom: 5%;
    }
#font-qv{
        
        color: aliceblue;
        font-size: 30px;        
        padding-bottom: 5%;
    }
    #row-4{
        text-align: center;
    }